<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="secondary">
      Gestor de Tareas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-card>
    <ion-card-header  class="items_centrados" >
      <img src="assets/tasks1.png" class="imagen_home"  alt="Tareas">
      <ion-card-title>Gestión de tareas</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Esta aplicación le permitira registrar tareas, marcarlas en estado completado y eliminarlas.

      <br>      
      <br>
      Ademas podra crear categorias y asignarlas a las tareas.
      
      <br>
      <br>

      <ion-button expand="block" color="secondary"  (click)="verTareas()" >Continuar</ion-button>
     
    </ion-card-content>
  </ion-card>

</ion-content>
