.imagen_banner_log{   width: 150px; height: auto; }
.div_banner_log{width: 100%; text-align: center; height: auto;}
.div_banner_log_up{width: 100%; text-align: center; height: auto;}
.imagen_banner_up{  width: 50px; height: auto;}
.input_sin_borde{border-width: 0px;}
.boton_icon{width: 30px;background-color: transparent;}
.item_menu_list{width: 100px; text-align: center; font-size: x-small;}